@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes dessus {
  100% {
    left: 100%;
  }
}
@keyframes bas {
  100% {
    right: 100%;
  }
}
@keyframes gauche {
  100% {
    top: 100%;
  }
}
@keyframes droit {
  100% {
    bottom: 100%;
  }
}
body {
  background-image: url(../images/ob_d9e591_z2nv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  color: #fffEDE;
  font-size: 5vmax;
  font-family: "Akaya Telivigala", cursive;
  margin-bottom: 90px;
}
@media (max-width: 600px) {
  h1 {
    width: 94%;
    font-size: 8vmin;
    text-align: center;
    color: #91523F;
  }
}
h1 span {
  display: inline-block;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translate(-200px, -100px);
}
h1 span.fade {
  opacity: 1;
  transform: translate(0px);
}
h1 span.fade:nth-child(3), h1 span.fade:nth-child(11), h1 span.fade:nth-child(14), h1 span.fade:nth-child(18) {
  margin-right: 25px;
}
@media (max-width: 600px) {
  h1 span.fade:nth-child(3), h1 span.fade:nth-child(11), h1 span.fade:nth-child(14), h1 span.fade:nth-child(18) {
    margin-right: 10px;
  }
}

.temoignage {
  height: 63px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 16px;
  color: #fffEDE;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  transition: 0.2s;
  font-family: "Trispace", sans-serif;
}
@media (max-width: 600px) {
  .temoignage {
    font-size: 18px;
  }
}
.temoignage:hover {
  color: #343C42;
  background-color: #fffEDE;
  box-shadow: 0 0 10px #fffEDE, 0 0 40px #fffEDE, 0 0 80px #fffEDE;
  transition-delay: 0.2s;
}
.temoignage span {
  position: absolute;
  display: block;
}
.temoignage span:nth-child(1) {
  top: 0%;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fffEDE);
  animation: dessus 4s infinite;
}
.temoignage span:nth-child(2) {
  top: 99%;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fffEDE);
  animation: bas 4s 2s infinite;
}
.temoignage span:nth-child(3) {
  top: -100%;
  right: 1%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fffEDE);
  animation: gauche 4s 1s infinite;
}
.temoignage span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fffEDE);
  animation: droit 4s 3s infinite;
}
.temoignage p.texte {
  line-height: 30px;
}

.arrow {
  margin-top: 35px;
  width: 32px;
  height: 32px;
}

li {
  list-style: none;
  position: absolute;
  bottom: 20px;
  right: 40px;
}
li a {
  cursor: pointer;
}
li a hover {
  transform: scale(1.02);
}

ul li img {
  width: 48px;
  margin-left: 20px;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  left: calc(50% - 90px);
  bottom: 500%;
  text-align: center;
  box-sizing: border-box;
  color: #343c42;
  background-color: #fffEDE;
  opacity: 0.75;
  padding: 10px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}
[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container.active {
  visibility: visible;
  transition: visibility 0s;
}
.modal-container.active .overlay {
  opacity: 0.5;
  transition: opacity 0.4s ease-out;
}
.modal-container.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}
.modal-container.active .email, .modal-container.active .twitter {
  opacity: 0;
}
.modal-container .overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s 0.2s ease-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #91523F;
}
.modal-container .modal {
  opacity: 0;
  width: 95%;
  max-width: 900px;
  min-width: 300px;
  max-height: 700px;
  overflow: scroll;
  padding: 30px;
  background-color: #fffEDE;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
@media (max-width: 600px) {
  .modal-container .modal {
    max-height: 500px;
    overflow: scroll;
    top: 45%;
    width: 90%;
  }
}
.modal-container .modal .close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #91523F;
  color: #fffEDE;
}
.modal-container .modal h1 {
  margin-bottom: 35px;
  font-family: "Akaya Telivigala", cursive;
  font-weight: 500;
  font-size: 30px;
  color: #91523F;
  text-align: center;
}
@media (max-width: 600px) {
  .modal-container .modal h1 {
    font-size: 20px;
    margin-top: 20px;
  }
}
.modal-container .modal p {
  line-height: 1.4;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 18px;
}
@media (max-width: 600px) {
  .modal-container .modal p {
    font-size: 14px;
  }
}
.modal-container .modal p span {
  display: inline-block;
  font-family: "Akaya Telivigala", cursive;
  font-size: 30px;
  margin-left: 20px;
  line-height: 1;
}

/*# sourceMappingURL=style.css.map */
