@use 'variables';

@keyframes dessus{
    100%{
        left: 100%;
    }
}
@keyframes bas{
    100%{
        right: 100%;
    }
}
@keyframes gauche{
    100%{
        top: 100%;
    }
}
@keyframes droit{
    100%{
        bottom: 100%;
    }
}