@use '../abstracts';

.modal-container{
    //display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
    &.active{
        visibility: visible;
        transition: visibility 0s;
        //display: block;
        & .overlay{
            opacity: 0.5;
            transition: opacity 0.4s ease-out;
        }
        & .modal{
            opacity: 1;
            transform: translate(-50%, -50%);
            transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
        }
        & .email, & .twitter{
            opacity: 0;
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.4s 0.2s ease-out;
        @include abstracts.background;
        background-color: abstracts.$color-secondary;
    }
    .modal{
        opacity: 0;
        width: 95%;
        max-width: 900px;
        min-width: 300px;
        max-height: 700px;
        overflow: scroll;
        padding: 30px;
        background-color: abstracts.$color-primary;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 50px));
        transition: opacity 0.4s ease-out, transform 0.4s ease-out;
        @media (max-width: 600px){
            max-height: 500px;
            overflow: scroll;
            top: 45%;
            width: 90%;
        }
        .close-modal{
            padding: 8px 10px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background-color: abstracts.$color-secondary;
            color: abstracts.$color-primary;
        }
        h1{
            margin-bottom: 35px;
            font-family: 'Akaya Telivigala', cursive;
            font-weight: 500;
            font-size: 30px;
            color: abstracts.$color-secondary;
            text-align: center;
            @media (max-width: 600px){
                font-size: 20px;
                margin-top: 20px;
            }
        }
        p{
            line-height: 1.4;
            margin-bottom: 16px;
            font-family: 'Roboto', sans-serif;
            text-align: justify;
            font-size: 18px;
            @media (max-width: 600px){
                font-size: 14px;
            }
            span{
                display: inline-block;
                font-family: 'Akaya Telivigala', cursive;
                font-size: 30px;
                margin-left: 20px;
                line-height: 1;
                color: abstracts.$color-secondary;
            }
        }
    }
}